*.iml
.gradle
.idea/
app/.vscode/
local.properties
.DS_Store
build/
captures/
release/
.externalNativeBuild
*.ipr
*.iws
*.suo
*.orig
*.rej
*.cap
[Th]umbs.db
bin/
gen/
lint/
**/bin
**/gen
**/build
.metadata/
.settings/
*.tar

# Keystore files
*.jks
*.keystore
/secure

# Built application files
*.apk
*.ap_
*.aab
*.class
*.dex
*.exec
*.aar

#NDK
obj/
.cxx
**/.externalNativeBuild/cmake/*

syntax: glob
app/version.properties
